{% extends "architecture/_layout.html" %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Archietcture
        <small>See them all</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

      <!-- Your Page Content Here -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            {% include "architecture/_include/box1.html" %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-6">
            {% include "architecture/_include/box2.html" %}
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            {% include "architecture/_include/box3.html" %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-6">
            {% include "architecture/_include/box4.html" %}
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            {% include "architecture/_include/box5.html" %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-6">
            {% include "architecture/_include/box6.html" %}
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            {% include "architecture/_include/box7.html" %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
